*{
	padding: 0;
	margin: 0;
}
body{
	background: skyblue;
}
h1{
	display: block;
	width: 200px;
	height: 50px;
	margin: 100px auto;
	text-align: center;
	line-height: 50px;
	font-size: 20px; 
}
div{
	margin: 10px auto;
	width: 260px;
	height: 248px;
	display: none;

}
img{
	width: 100%;
	height: 100%;
}